// list 
.list-mail-content {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2.3px 3.3px 11.1px 2px rgba(209, 219, 225, 0.25);
  background-color: #ffffff;
  .box {
    table {
      width: 100%;
      th {
        &:nth-child(1) {
          border-left: 0;
          width: 10%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
      td {
        border-bottom: 1px solid #f3f3f3;
        a {
          color: #333;
        }
        &:nth-child(1) {
          border-left: 0;
          width: 10%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 50%;
          text-align: left;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
    }
  }
}

// create 
.create-mail-content {
  form {
    label {
      width: 100%;
      margin: 0 0 15px;
      input[type="text"] {
        width: 100%;
        height: 42px;
        padding: 10px;
        color: #333;
        font-weight: normal;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      #memo{
        width: 20%;
      }#title{
        width: 80%;
      }
    }
    .content-area {
      margin: 0 0 25px;
      background-color: white;
      .btn-group {
        .btn {
          background-color: $main-color;
        }
      }
    }
  }
}