// list
.list-mail-send {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2.3px 3.3px 11.1px 2px rgba(209, 219, 225, 0.25);
  background-color: #ffffff;
  .box {
    table {
      width: 100%;
      th {
        &:nth-child(1) {
          border-left: 0;
          width: 10%;
        }
        &:nth-child(2) {
          width: 40%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 17%;
        }
        &:nth-child(5) {
          width: 6%;
        }
        &:nth-child(6) {
          width: 6%;
        }
        &:nth-child(7) {
          width: 6%;
        }
        &:nth-child(8) {
          width: 6%;
        }
      }
      td {
        a {
          color: #333;
          &:hover {
            color: $main-color;
          }
        }
        &:nth-child(1) {
          border-left: 0;
          width: 10%;
        }
        &:nth-child(2) {
          width: 40%;
          text-align: left;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 17%;
        }
        &:nth-child(5) {
          color: forestgreen;
          width: 6%;
        }
        &:nth-child(6) {
          width: 6%;
        }
        &:nth-child(7) {
          color:  blue;
          width: 6%;
        }
        &:nth-child(8) {
          color: red;
          width: 6%;
        }
      }
    }
  }
}

// view
.view-mail-send {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2.3px 3.3px 11.1px 2px rgba(209, 219, 225, 0.25);
  background-color: #ffffff;
  .box {
    &.state-send {
      margin: 0 0 25px;
      ul {
        li {
          &.title {
            padding: 0 0 10px;
            margin: 0 0 15px;
            font-size: 1rem;
            border-bottom: 1px solid lightgrey;
            em {
              padding: 0 0 0 5px;
              font-size: 1.2rem;
              color: #333;
              font-style: normal;
            }
          }
          &.date {
            margin: 0 0 5px;
            em {
              padding: 0 0 0 5px;
              color: #333;
              font-style: normal;
            }
          }
          &.result {
            margin: 0 0 5px;
            overflow: hidden;
            .btn-download {
              margin: 0 10px 0 0;
              border: 1px solid $main-color;
              color: $main-color;
              background-color: #fff;
            }
            #viewContent {
              color: #333;
              font-size: 18px;
              font-weight: bold;
              display: inline-block;
              padding: 3px;
            }
            span {
              display: inline-block;
              margin: 0 15px 0 0;
              color: #333;
              &:last-child {
                margin: 0;
              }
              em {
                font-style: normal;
                font-weight: 500;
              }
              &:nth-child(3){
                em {
                  color: blue;
                }
              }
              &:nth-child(4){
                em {
                  color: red;
                }
              }
            }
          }
        }
      }
    }
    table {
      width: 100%;
      th {
        &:nth-child(1) {
          width: 35%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 20%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
      td {
        &.result_fail{
          color: red;
        }
        &:nth-child(1) {
          width: 35%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 20%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
    }
  }
}

// create
.create-mail-send {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2.3px 3.3px 11.1px 2px rgba(209, 219, 225, 0.25);
  background-color: #ffffff;
  form {
    label {
      width: 100%;
      margin: 0 0 15px;
      input[type="text"] {
        width: 100%;
        height: 42px;
        padding: 10px;
        color: #333;
        font-weight: normal;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
    .content-area {
      padding: 0 0 25px;
      #loaded-content {
        min-height: 450px;
        overflow-y: scroll;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
    .receiver-area {
      label {
        overflow: hidden;
        #sendMailList {
          width: 89.8%;
          float: left;
          font-size: 15px;
          color: #000;
          padding: 10px;
          min-height: 42px;
          height: auto;
          word-break: break-word;
          border: 1px solid #ccc;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
        button {
          margin: 0 0 0 15px;
        }
      }
    }
    .content-title-area {
      margin: 0 0 15px;
      font-size: 1.1rem;
      strong {
        font-size: 1.2rem;
        color: $main-color;
      }
    }
    .option-area {
      strong {
        margin: 0 10px 0 0;
      }
      label {
        width: 10%;
        cursor: pointer;
      }
      .booked-box {
        overflow: hidden;
        .react-datepicker-wrapper {
          float: left;
          width: 195px;
          input {
            padding: 3px 15px;
            width: 100%;
          }
        }
      }
    }
  }
}
