nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  z-index: 1999;
  height: 100%;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #0b5da9, #0099cb);
  h1 {
    padding: 28px 30px;
    font-size: 37px;
    text-align: left;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
  ul {
    margin: 31px 0 0;
    li {
      margin: 0 auto 15px;
      width: 85%;
      &:nth-child(1) {
        a {
          background-image: url(../images/icon01.png);
          background-position: 8% center;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(2) {
        a {
          background-image: url(../images/icon02.png);
          background-position: 8% center;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(3) {
        a {
          background-image: url(../images/icon03.png);
          background-position: 8% center;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(4) {
        a {
          background-image: url(../images/icon04.png);
          background-position: 8% center;
          background-repeat: no-repeat;
        }
      }
      &:hover a {
        color: #fff;
        background-color: #0576bc;
      }
      a {
        padding: 11px 45px;
        display: block;
        color: #fff;
        font-size: 15px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        border-radius: 18.5px;
        -webkit-border-radius: 18.5px;
        -moz-border-radius: 18.5px;
        -ms-border-radius: 18.5px;
        -o-border-radius: 18.5px;
}
    }
  }
}